+ $(SITEROOT)/wp-content/plugins EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/wp-content/themes EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/wp-admin EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/wp-includes EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
$(SITEROOT)/wp-trackback.php CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
$(SITEROOT)/wp-config.php CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
$(SITEROOT)/wp-settings.php CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
